/*---------------------------*/
/*-------RESET DEFAULTS------*/
/*---------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------*/
/*----BEGIN CUSTOM STYLES----*/
/*---------------------------*/


/*----GLOBAL STYLES----*/
.hidden {
	display: none;
}

a {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

body {
	font-family: sans-serif;
}

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*-----BUTTON STYLES-----*/
button, input[type="submit"] {
	background-color: rgb(185, 68, 89);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	background-color: rgb(207, 125, 140);
}

/*-----HEADER STYLES-----*/
header {
  padding: 10px;
}

img#logo{
	cursor: pointer;
	width: 110px;
	height: 110px;
}

a#login {
	font-size: 24px;
  float: right;
	color: white;
	font-family: sans-serif;
}

a#login:hover {
	color: rgb(185, 68, 89);
}

div.dropdown-toggle {
	cursor: pointer;
}

.dropdown-menu {
	min-width: 70px;
}

img.profilePicture {
	margin-top: 10px;
	width: 80px;
	height: 80px;
	border-radius: 3px;
}

div#userInfo {
	display: inline-block;
	float:right;
}
header p {
	display: inline-block;
	font-size: 20px;
	padding: 10px;
}

ul.dropdown-menu {
	padding: 20px;
	font-size: 20px;
	margin-right: 20px;
	position: absolute;;
}
header .username {
	color: white;
	background-color: rgba(185, 68, 89, .85);
	padding: 10px;
	font-size: 20px;
	position: relative;
	border-radius: 10px;
	font-family: helvetica;
}

/*----SPLASH PAGE STYLES----*/
body {
	background-image: url("../photos/awkward.jpg");
	background-size: cover;
	background-position: center;
}

#splashPage {
	width: 80%;
	margin: 0 auto;
}

img#h1 {
	display: block;
	margin: 0 auto;
}

form {
  text-align: center;
}

input#dateMaker {
  display: block;
  margin: 50px auto;
}

/*----RESULTS PAGE STYLES----*/
#resultsPage.container {
  width: 80%;
	height:70vh;
  margin: 0 auto;
	color:white;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.7);
}

#resultsPage .column {
	height: 65vh;
  width: 47%;
  text-align: center;
	padding: 50px 40px 10px 40px;
	position: relative;
}

div#movieResults {
	float: left;
}

div#recipeResults {
	float: right;
}

#resultsPage .columnHeader {
	height: 6vh;
}

#resultsPage .columnMain {
	height: 50vh;
	overflow: scroll;
	margin-bottom: 10px;
	padding-bottom: 7vh;
}

#resultsPage .columnFooter {
	height: 5vh;
}

#resultsPage .pageFooter {
		height: 5vh;
}

h2 {
  font-size: 30px;
	margin-bottom: 20px;
	font-family: sans-serif;
	color: rgb(185, 68, 89);
}

#recipeResults h2 {
	font-size: 20px;
}

#resultsPage p {
	font-size: 20px;
	font-family: sans-serif;
}

p#recipeIngredients {
	margin-bottom: 10px;
}

a#recipeURL {
	color: rgb(185, 68, 89);
}

a#recipeURL:hover {
	color: rgb(218,183,165);
}

#resultsPage img {
	width: 40%;
	height: auto;
	margin: 20px;
	padding: 10px;
}

button#saveResults {
  display: block;
  margin: 0 auto;
	padding: 8px;
	border: 1px solid white;
	background-color: black;
	color: white;
}

button#saveResults:hover {
	background-color: rgb(185, 68, 89);
	border: none;
}

/*----PROFILE PAGE STYLES----*/
main {
	width: 100%;
}

#dateLog.row {
	background: rgba(0,0,0, 0.85);
	margin: 0 auto;
	padding: 40px;
	width: 80%;
}

#dateNav {
	text-align: center;
	background-color: rgba(185, 68, 89, .85);
	padding: 15px;
	width: 80%;
	margin: 0 auto;
}

#dateNav a {
	display: inline-block;
	font-size: 25px;
	font-family: "Apple Chancery", serif;
	color: white;
	margin: 0 20px;
	text-decoration: none;
}

ul#dates {
	height: 70vh;
	overflow: scroll;
}

.active {
	background-color: rgb(0, 0, 0);
	padding: 10px;
	border-radius: 5px;
}

#dates li {
	background-color: white;
	color: black;
	margin-bottom: 20px;
	height: 50vh;
	padding: 10px;
}

#dates .column {
	background-color: white;
	height: 100%;
}

#column1 {
	float: left;
	width: 15%;
}

#column2 {
	float: left;
	width: 60%;
	text-align: center;
}

#column2 a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	display: block;
	margin: 10px auto;
}

#column3 {
	float: left;
	width: 25%;
	padding-top: 30px;
	overflow: scroll;
}

#dates .moviePicture, #dates .recipePicture {
	display: inline-block;
	max-width: 44%;
	height: 90%;
}

#dates .moviePicture {
	margin-right: 5px;
}

#dates .recipePicture {
	margin-left: 5px;
}

#dates .profilePicture {
	display: block;
	margin: 0 auto 20px auto;
	width: 123px;
	height: 123px;
	border-radius: 5px;
}

.userBox .username {
	font-size: 18px;
	margin-bottom: 5px;
}

.userBox {
	margin-bottom: 25px;
}

.userBox p {
	text-align: center;
}

.crud {
	text-align: center;
}

.crud a {
	color: rgb(185, 68, 89);
	text-decoration: none;
	display: inline-block;
	margin: 0 5px;
}

#dates a:hover {
	color: rgb(218,183,165)
}

#dates a {
	color: rgb(185, 68, 89);
}

#column3 h3 {
	font-size: 28px;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

#column3 p {
	font-family: sans-serif;
	font-size: 18px;
}


/*-----MODAL STYLES-----*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
		display: none;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
		border-radius: 5px;
    width: 60%;
		min-height: 20%;
}

.modalHeader {
	padding-right: 10px;
	background-color: rgba(185, 68, 89, .85);
}

.modalMain {
	padding: 30px;
}

.modalMain p {
	text-align: center;
	font-size: 20px;
}

.modalFooter {
	text-align: center;
	padding-bottom: 20px;
}

.modal-content input {
	display: block;
	margin: 0 auto;
}

.modal-content form {
	margin: 20px auto 0 auto;
}

#nightName, #newNightName, #nightDescription, #newNightDescription {
	width: 60%;
}

#nightDescription, #newNightDescription {
	height: auto;
	margin-bottom: 20px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(218,183,165);
    text-decoration: none;
    cursor: pointer;
}

/* footer styles */

footer {
	 position: relative;
	 padding-top: 60px;
}
footer p {
	 display: block;
	 text-align: right;
	 margin-right: 55px;
	 color: white;
	 font-family: sans-serif;
}

footer a {
	color: rgb(185, 68, 89);
}

footer a:hover {
	color: rgb(218,183,165);
}

footer img {
	 width: 50px;
	 height: auto;
	 position: absolute;
	 top: 0;
	 right: 0;
	 margin-top: 60px;
}

#tmdblogo {
	filter: grayscale(100%);
}
